<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">สถานที่ท่องเที่ยว</th>
                <th scope="col">วัน/เดือน/ปี</th>
                <th scope="col">เวลา</th>
                <th scope="col">รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            {% for my_table_tmp in my_table %}
            <tr>
                <th center>{{my_table_tmp.id}}</th>
                <td center>{{my_table_tmp.tour_id.name}}</td>
                <td center>{{my_table_tmp.date}}</td>
                <td center>{{my_table_tmp}}</td>
                <td center>{{my_table_tmp.note}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'my_table:create_tour' plan_id %}">
        <input type="submit" value="สร้างรายการ" />
    </form>

    <form action="{% url 'my_table:index'%}">
        <input type="submit" value="ย้อนกลับ" />
    </form>

</body>

</html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>